<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<title>(주)책읽기실천본부</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="../resources/static/style.css">
<body>
<div class="container">

    <h1 class="header">CRUD 구현해보자</h1>
    <div class="main">
        <p>기능</p>
        <p>
            <a href="/posts/new" class="button_choose">글쓰기</a>
            <a href="/posts" class="button_choose">게시글 목록</a>
        </p>
        <br><br>
    </div>

    <div class="footer">
        ⓒ 2021. ottl-seo Inc. All rights reserved.
    </div>
</div> <!-- /container -->
</body>
</html>