/*-----------------------------Global Setting--------------------------*/
@font-face {
    font-family: 'RoundRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RoundBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.main{
    width: 100%;
}
a{
    color: black;
    text-decoration: none;
}


/*-------------------------Header-----------------------*/
.header{
    background: url("./image/mainweb_tab.png");
}.header-logo{
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}
.header-menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 700px;
    width: 80%; height: 3rem;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2rem;
}.header-menu a{
    padding-top: 20px;
    padding-right: 0.5rem;
    width: 90%;
    font-family: "RoundBold";
    font-size: 1rem;
    color: #ffffff;
    margin: 0 auto;
}
.header-menu a:nth-child(1){
    width: 7rem;
}.header-menu a:nth-child(2){
    width: 10rem;
}.header-menu a:nth-child(3){
    width: 11rem;
}.header-menu a:nth-child(4){
    width: 5rem;
}
.header-menu a:hover{
    color: #ff0038;
    padding-top: 20px;
    background: url("./image/mainweb_tab_e1.png") no-repeat 10% 100%/100% 100%;
}.header-menu a:nth-child(1):hover{
    background: url("./image/mainweb_tab_info.png") no-repeat 10% 100%/100% 100%;
}.header-menu a:nth-child(4):hover{
    background: url("./image/mainweb_tab_notice.png") no-repeat 10% 100%/100% 100%;
}

/*-----------------------container------------------------*/
.container{
    background: url("./image/mainweb_bg.png") no-repeat 0 0/100% 100%; 
}

/*-----------------introduce-----------------*/
.container-introduce{
    text-align: center;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    padding: 100px 0 150px;
    font-family: "RoundBold";
    font-size: 0.9rem;
    line-height: 2rem;
}
.container-introduce img{
    width: 17rem;
}.container-introduce .introduce_line{
    width: 150%;
    margin-left: -25%;
}.container-introduce span{
    background-color: #ff0038;
    color: #ffffff;
}
.introduce_extra{
    font-family: "RoundRegular";
    font-size: 0.5rem;
}

/*-------------------test-comment-----------------*/
.container-testcomment{
    text-align: center;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    padding: 100px 0 200px;
}.container-testcomment img{
    width: 40rem;
    margin: 5rem 0;
}

/*-------------------notice-----------------*/
.container-notice{
    text-align: center;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    padding: 100px 0 150px;
}
.container-notice img{
    width: 8rem;
}
.container-notice ul{
    padding: 0;
    margin-top: 40px;
}.container-notice li{
    list-style: none;
    margin: 1rem;
}.container-notice div{
    background: pink;
    border-radius: 1rem;
    width: 90%;
    margin: 0 auto;
}
.container-notice h6{
    font-family: "RoundBold";
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;
}.container-notice p{
    font-family: "RoundRegular";
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
    line-height: 2rem;
    height: 10rem;
}


/*-----------------------------top------------------------------*/
.top{
    display: none;
}


/*------------------------------footer-------------------------*/
.footer{
    text-align: center;
    color: #ffffff;
    font-family: "RoundBold";
    font-size: 1rem;
    padding: 2rem;
}



/*------------------------------------반응형---------------------------*/
@media screen and (max-width: 768px) {
    .hidden{
        display: none;
    }

    .header-logo{
        width: 100%;
        padding: 30px 0;
    }.header-logo img{
        width: 7rem
    }

    .header-menu{
        width: 95%;
        display: flex;
    }.header-menu a{
        padding-right: 0;
    }.header-menu a:nth-child(2){
        width: 27rem;
    }.header-menu a:nth-child(3){
        width: 30rem;
    }.header-menu a:nth-child(4){
        width: 15rem;
    }.header-menu a:nth-child(4):hover{
        background: url("./image/mainweb_tab_notice.png") no-repeat 10% 100%/100% 100%;
    }
    
    .container{
        margin-top: 50px;
        background: url("./image/mainm_bg.png") no-repeat 0 0/100% 100%; 
    }

    .container-introduce{
        padding: 0 0 100px;
    }.container-introduce .introduce_line{
        display: none;
    }.container-introduce p{
        width: 80%;
        margin: 1rem auto;
        word-break: keep-all;
    }.container-introduce img{
        width: 12rem;
    }

    .container-testcomment{
        padding: 100px 0 150px;
    }.container-testcomment img{
        width: 100%;
        margin: 2rem 0;
        height: 23rem;
    }.container-testcomment .event1{
        top: 20rem;
        left: 28%;
        width: 10rem;
        height: 2rem;
    }.container-testcomment .event2{
        top: 17rem;
        left: 28%;
        width: 10rem;
        height: 3rem;
    }

    .container-notice{
        padding: 50px 0;
    }.container-notice div{
        width: 100%;
    }.container-notice li{
        margin: 1rem 0;
    }

    .top{
        display: block;
        position: fixed;
        bottom: 6rem;
        right: 0px;
        text-align: center;
    }.top img{
        width: 50%;
        border: 0.5px solid #ff0038;
        border-radius: 0.5rem;
    }

    .footer{
        padding: 1rem;
        font-size: 0.7rem;
    }
}