<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/posts/new" method="post">
        <div class="form-group">
            <label for="title"></label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요">

            <label for="contents"></label>
            <textarea type="text" id="contents" name="contents"></textarea>
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>