<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community</title>
</head>
<body>
<div class="container">

    <h1 class="header">Community</h1>
    <div class="main">
        <form action="/" method="post">
            <div class="form-group">
                <input type="text" id="title" name="title" placeholder="제목">
                <textarea></textarea>
            </div>
            <button type="submit">등록</button>
        </form>
    </div>

    <div class="footer">
        ⓒ 2021 ottl-seo Inc. All rights reserved.
    </div>
</div> <!-- /container -->
</body>
</html>